$whitecolor : #fffc;
$maincolor : #12a19a;
$blackcolor : black;
$yellowcolor : #ffc107;
$FontFamily :'Lato', sans-serif;
body {
    margin: 0 auto;
    padding: 0;
    font-family: $FontFamily;

    #root {
        .RoutesMain {
            .CapsulLogoandNav {
                background-color: #000000e6;
                .logo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .MainNav {
                    padding: 1rem 1rem;
                    display: flex;
                    gap: 6%;
                    width: 100%;          
                    align-items: center;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        color: $whitecolor;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }

                    .active {
                        color: $yellowcolor;
                    }
                }
            }
        }

        .PageStudioRental,
        .PageAbout,
        .PageContact,
        .PageCreative,
        .HomePage,
        .PagePortfolio,
        .PageStudioRental {
            padding: 1rem 1rem;
        }
    }
}