$whitecolor : #fffc;
$graycolor :#a0a0a0;
$maincolor : #12a19a;
$blackcolor : black;
$yellowcolor : #ffc107;
$bgcolorBlack : #191919;
$FontFamily :'Poppins',
sans-serif;
$FontsizeH1 : 35px;
$FontsizeH2 :30px;
$FontsizeP: 15px;

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

body {
    // .padrl{
    //     padding: 0 35rem;
    // }

    margin: 0 auto;
    padding: 0;
    font-family: $FontFamily;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: $bgcolorBlack;

.whatsapp-button{
    button{
        position:fixed; bottom:30px; right:20px; width:50px; z-index:999;

        img{
            width:100%;
        }
    }
}

.Tel-button{
    button{
        position: fixed;
        bottom: 30px;
        left: 20px;
        width: 50px;
        height: 50px;
        z-index: 999;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 35px;
        }
    }
}


    p {
        font-size: 15px !important;
    }

    .collapse {
        visibility: visible;
    }

    .swiper-pagination-bullet-active {
        background-color: $yellowcolor !important;
    }

    #root {
        .RoutesMain {
            .CapsulLogoandNav {
                background-color: transparent;
                position: absolute;
                z-index: 99;
                width: 100%;

                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .MainNav {
                    display: flex;
                    /* gap: 6%; */
                    width: 100%;
                    align-items: center;
                    justify-content: space-evenly;

                    a {
                        text-decoration: none;
                        color: $whitecolor;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }

                    .active {
                        color: $yellowcolor;
                    }
                }

                .MobileBtn {
                    cursor: pointer;
                    background-color: white;
                    border-left: none;
                    border: none;

                    svg {
                        color: black;
                        font-size: 30px;
                        font-weight: 800;
                        border: none;
                    }
                }

                .ymDesk {


                    width: 90px;
                    text-align: center;
                    background: #fff;
                    position: absolute;
                    right: 90px;
                    padding: 1rem 0;
                }
            }
        }

        .PageStudioRental,
        .PageAbout,
        .PageContact,
        .PageCreative,
        .PagePortfolio,
        .PageStudioRental {
            padding: 0rem 0rem;
            padding-bottom: 5rem;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background-color: $graycolor;
                width: 100%;
                height: 1px;
                bottom: 0;
                opacity: .3;
            }
        }

        .HomePage {
            padding: 0;
            position: relative;
            padding: 0 90px;

            .container-fluid {
                padding: 0;
            }
        }
    }

    /*Right*/
    // .modal.right.fade .modal-dialog {
    //     right: 0px;
    //     -webkit-transition: opacity 0.3s linear, right 0.3s ease-out !important;
    //     -moz-transition: opacity 0.3s linear, right 0.3s ease-out !important;
    //     -o-transition: opacity 0.3s linear, right 0.3s ease-out !important;
    //     transition: opacity 0.3s linear, right 0.3s ease-out !important;
    // }

    // .modal.right.fade.in .modal-dialog {
    //     right: 0;
    // }

    // .modal.right .modal-dialog {
    //     position: fixed !important;
    //     margin: auto !important;
    //     width: 320px !important;
    //     height: 100% !important;
    //     -webkit-transform: translate3d(0%, 0, 0) !important;
    //     -ms-transform: translate3d(0%, 0, 0) !important;
    //     -o-transform: translate3d(0%, 0, 0) !important;
    //     transform: translate3d(0%, 0, 0) !important;
    //     right: -320px !important;
    // }

    // .modal.right .modal-content {
    //     height: 100%;
    //     overflow-y: auto;
    // }

    // .modal.right .modal-body {
    //     padding: 15px 15px 80px;
    // }







    // .modal-content {
    //     border-radius: 0;
    //     border: none;
    //     height: 100%;
    //     overflow-y: auto;

    //     .modal-header {
    //         .MobileNavBtn {
    //             display: none;
    //         }

    //         .ModalCloseBtn {
    //             cursor: pointer;
    //             font-size: 20px;
    //             transition: .3s all;

    //             &:hover {
    //                 color: $yellowcolor;
    //             }
    //         }

    //     }

    //     .modal-body {
    //         .MainNav {
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;
    //             text-align: start;
    //             padding: 1rem 0;

    //             a {
    //                 padding: 1rem 0;
    //                 font-size: 20px;
    //                 font-weight: 600;
    //             }

    //             .active {
    //                 color: $yellowcolor;
    //             }
    //         }
    //     }
    // }


    .FreeConsRight {
        .modal-dialog {
            position: fixed;
            margin: auto;
            // width: 700px;
            width: 100%;
            max-width: 100%;
            height: 100%;
            -webkit-transform: translate3d(0%, 0, 0) !important;
            -ms-transform: translate3d(0%, 0, 0) !important;
            -o-transform: translate3d(0%, 0, 0) !important;
            transform: translate3d(0%, 0, 0) !important;
        }

        .modal-content {
            height: 100%;
            overflow-y: auto;
        }

        .modal-body {
            padding: 15px 15px 80px;
        }

        .modal-dialog {
            right: -320px;
            -webkit-transition: opacity 0.3s linear, right 0.3s ease-out !important;
            -moz-transition: opacity 0.3s linear, right 0.3s ease-out !important;
            -o-transition: opacity 0.3s linear, right 0.3s ease-out !important;
            transition: opacity 0.3s linear, right 0.3s ease-out !important;
        }

        .modal-content {
            border-radius: 0;
            border: none;
            overflow-x: hidden;
        }

        .modal-header {
            // border-bottom-color: $border-bottom-color_1;
            // background-color: $background-color_1;
            color: black;
            border-radius: inherit;

            .close {
                cursor: pointer;
                border: none;
                background-color: transparent;
                color: white;
                font-size: 20px;
            }
        }

        .RightMenu {
            background-color: $bgcolorBlack;
            height: 100%;
        }

        .myH100 {
            height: 100%;

            .LeftMenu {
                display: flex;
                align-items: center;
                text-align: start;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 30%;
                    top: 0;
                    bottom: 0;
                    background: $yellowcolor;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    width: 1px;
                    opacity: .2;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 70%;
                    top: 0;
                    bottom: 0;
                    background: #eaeef4;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    width: 1px;
                }

                .modal-body {
                    display: flex;
                    justify-content: center;

                    .MainNav {
                        flex-direction: column;
                        display: flex;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        font-size: 26px;
                        position: relative;

                        a {
                            line-height: 2.5;
                            letter-spacing: -0.68px;
                            color: #324250;
                            font-weight: bold;
                            font-size: 30px;
                        }
                    }
                }
            }

            .RightMenu {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                // transform: translateX(50%);
                //  transition: 2s;
                //  opacity: 0;
                .modal-header {
                    border: none;

                    .CloseBtnpad {
                        background-color: white;
                        width: 80px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 35px;
                        color: #324250;
                        cursor: pointer;
                        z-index: 99;
                    }
                }

                .modal-body {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 100%;

                    .infoAddres {
                        position: relative;
                        padding: 0;
                        margin: 0;
                        font-size: 22px;
                        color: white;
                        font-weight: bold;


                        .InfoCompany {
                            margin-bottom: 2rem;
                            font-size: 26px;
                            letter-spacing: .1rem;
                        }

                        .SmallAdress {
                            margin-bottom: 0.7rem;
                            line-height: 2.2rem;
                            width: 60%;
                        }

                        .Mail {
                            margin-bottom: .7rem;
                        }

                        .telephone {
                            margin-top: 2rem;
                            gap: 2%;
                            display: flex;
                            align-items: center;
                        }

                        .SocialMedia {
                            display: flex;
                            gap: 4%;
                            font-size: 30px;
                            margin-top: 3rem;
                        }
                    }
                }
            }

            .Animete {
                opacity: 1 !important;
                transform: none !important;
            }
        }
    }

    .FreeConsRight.show {
        .modal-dialog {
            right: 0;
        }
    }






    .FreeConsRight {
        .modal-body {
            .headFormText {
                h2 {
                    font-size: 18px;
                    line-height: 1.5;
                    font-family: "Poppins", sans-serif;
                    margin-top: .2rem;
                }

                p {
                    margin-bottom: 1.5rem;
                    font-size: 14px;
                }
            }

        }
    }


    .swiper-container {
        width: 100%;
        max-width: 100%;
        overflow: auto;

        .swiper-list {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 100%;


            .swiper-item {
                width: 100%;
                flex-shrink: 0;

                .swiper-img {
                    max-width: 100%;
                    height: auto;
                    user-select: none;
                }
            }
        }
    }

    .HomePage {
        position: relative;

        .verticalLine {
            position: relative;
            display: none;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid #242424;
                z-index: 10;

            }
        }

        .ymRelative {
            position: relative;

            .Discover {
                position: absolute;
                bottom: 0;
                z-index: 99;
                background-color: $yellowcolor;
                width: 15%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.3rem;
                cursor: pointer;

                a {

                    button {
                        font-size: 20px;
                        margin-bottom: 0;
                        color: white;
                        font-weight: bolder;
                        letter-spacing: 2px;

                        .frameYm {
                            animation-name: frameDownDiscover;
                            position: relative;
                            animation-duration: 1.5s;
                            top: 0;
                            animation-iteration-count: infinite;
                            margin-left: 1.5rem;

                            @include keyframes(frameDownDiscover) {
                                0% {
                                    top: 0;
                                }

                                50% {
                                    top: 10px;
                                }

                                100% {
                                    top: 0;
                                }
                            }


                        }
                    }
                }

            }
        }

        .HomeSlide {
            width: 100%;
            height: 100%;
            will-change: transform;
            // background-color: $bgcolorBlack;



            .swiper-slide {
                overflow: hidden;
                position: relative;

                &:hover {
                    .PictureText {
                        opacity: 1;
                        // color: $whitecolor;

                    }

                    .Slidelayer {
                        &::after {
                            opacity: .3;
                        }
                    }
                }

                .myHomeSlideimg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    animation: ymEffect 20s ease;
                    -ms-animation: ymEffect 20s ease;
                    -webkit-animation: ymEffect 20s ease;
                    -moz-animation: ymEffect 20s ease;
                    position: relative;
                    top: 0;
                    animation-iteration-count: infinite;

                    @include keyframes(ymEffect) {
                        0% {
                            -webkit-transform-origin: bottom right;
                            -moz-transform-origin: bottom right;
                            -ms-transform-origin: bottom right;
                            -o-transform-origin: bottom right;
                            transform-origin: bottom right;
                            transform: scale(1.0);
                            -ms-transform: scale(1.0);
                            /* IE 9 */

                            -webkit-transform: scale(1.0);
                            /* Safari and Chrome */

                            -o-transform: scale(1.0);
                            /* Opera */

                            -moz-transform: scale(1.0);
                            /* Firefox */
                        }


                        50% {
                            transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            /* IE 9 */

                            -webkit-transform: scale(1.1);
                            /* Safari and Chrome */

                            -o-transform: scale(1.1);
                            /* Opera */

                            -moz-transform: scale(1.1);
                            /* Firefox */
                        }

                        100% {
                            transform: scale(1.0);
                            -ms-transform: scale(1.0);
                            /* IE 9 */

                            -webkit-transform: scale(1.0);
                            /* Safari and Chrome */

                            -o-transform: scale(1.0);
                            /* Opera */

                            -moz-transform: scale(1.0);
                            /* Firefox */
                        }
                    }


                }


                .PictureText {
                    position: absolute;
                    font-size: 3rem;
                    bottom: -20px;
                    letter-spacing: 5px;
                    opacity: 0;
                    transition: .3s ease-in-out;
                    font-weight: bold;
                    cursor: pointer;
                    // color: $yellowcolor;
                    z-index: 9;
                    display: none;
                }

                .Slidelayer {

                    &::after {
                        content: "";
                        background-color: black;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        opacity: .3;
                        transition: .3s ease-in-out;
                    }
                }

            }

            .swiper-slide-next {
                .Slidelayer {

                    &::after {
                        content: "";
                        background-color: black;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        opacity: .3 !important;
                        transition: .3s ease-in-out;
                    }
                }

                .PictureText {
                    position: absolute;
                    font-size: 3rem;
                    bottom: -20px;
                    letter-spacing: 5px;
                    opacity: 1 !important;
                    transition: .3s ease-in-out;
                    font-weight: bold;
                    cursor: pointer;
                    color: $yellowcolor;
                    z-index: 9;
                }
            }

            .swiper-pagination {
                bottom: 0px !important;
                color: white !important;
            }
        }

        .verticalLine {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid #242424;
                z-index: 10;
                top: 1rem;
            }
        }

        .TextSlogan {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 3rem 0;
            background-color: $bgcolorBlack;
            margin-bottom: 3rem;

            h6 {
                color: $graycolor;
                font-size: 14px;
                line-height: 1em;
                letter-spacing: .10em;
                font-weight: 600;
                padding-top: 3rem;
            }

            h2 {
                margin-top: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $whitecolor;
                font-size: $FontsizeH1;
                line-height: 1em;
                letter-spacing: .10em;
            }
        }

        .servicesSection {
            // display: flex;
            padding: 1rem 0 !important;
            width: 95% !important;

            .card {
                background-color: transparent;
                border: none;
                transition: .3s ease-in-out;
                margin-top: 2rem;

                .card-body {
                    padding-left: 0;

                    .card-title {
                        color: $whitecolor;
                        font-size: 1.5rem;
                        position: relative;
                        padding-top: 1.5rem;
                        font-weight: 600;
                        letter-spacing: 3px;

                        &::before {
                            position: absolute;
                            content: "";
                            width: 25%;
                            height: 100%;
                            border-top: 4px solid $yellowcolor;
                            top: 0.5rem;
                        }

                    }

                    .card-text {
                        font-size: 14px;
                        color: $graycolor !important;
                        line-height: 1.7;
                    }
                }

                &:hover {
                    transform: translateY(-8px);

                    img {
                        filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
                    }
                }

                img {
                    filter: brightness(100%) contrast(100%) saturate(60%) blur(0px) hue-rotate(0deg);
                    transition: .3s ease-in-out;
                }

                .ymServicesimg {
                    height: 630px;
                    object-fit: cover;
                }

                .ymServicesimg2 {
                    height: inherit !important;
                    object-fit: cover;
                }
            }

            .ServisSlide {
                position: static;
            }

            .swiper-pagination-fraction {
                bottom: 0;
                color: white;
            }
        }


        .AboutHome {
            padding-top: 5rem;

            .pad-0 {
                padding: 0;
            }

            .RightTwoPicture {
                .Ust {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .ymBefore {
        position: relative;
        padding: 0;
        display: none;
        &::before {
            position: absolute;
            content: "";
            background-color: $yellowcolor;
            width: 100%;
            height: 40%;
            z-index: 0;
            bottom: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url(http://localhost:1337/uploads/ads_7da6081bf6.png?updated_at=2023-03-23T20:59:14.886Z);
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
            top: 10%;
            left: 80%;

        }

        .CounterHome {
            z-index: 9;
            margin-top: 5rem;
            width: 1250px;
            margin: 0 auto;
            position: relative;

            .HeaderAndText {
                margin: 1rem 0;

                h2 {
                    margin: 1rem 0;
                    color: $yellowcolor;
                    font-weight: 600;
                    font-size: 40px;
                }

                p {
                    margin: 1rem 0;
                    color: white;
                    font-size: $FontsizeP;
                }
            }

            .IconBox {
                background-color: white;
                border-radius: 25px;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 0.7rem 0.7rem;
                text-align: center;

                .IconImg {
                    margin-bottom: 0.7rem;


                    img {
                        width: 70px;
                    }
                }

                .Number {
                    font-size: 35px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0.7rem;
                    border-bottom: 5px solid $yellowcolor;

                    .Yellow {
                        font-size: 25px;
                        color: $yellowcolor;
                        font-weight: bolder;
                    }
                }

                .NumberText {
                    p {
                        font-size: $FontsizeP;
                    }
                }
            }

            .AboutSlide {
                position: static;

                .swiper-pagination-fraction {
                    bottom: -40px;
                    color: white;
                }
            }
        }
    }

    .FooterNew {
        padding-top: 2.5rem;
        position: relative;

        // &::after{
        //     background-repeat: no-repeat;
        //     top: 22%;
        //     object-fit: cover;
        //     height: 126px;
        //     width: 156px;
        //     content: "";
        //     position: absolute;
        //     background-image: url(http://localhost:1337/uploads/Estanbul_Studyo_1_c983ba05b1.png?updated_at=2023-02-25T12:16:52.879Z);
        //     left: 5%;
        // }
        .Line {
            position: absolute;
            width: 100%;
            height: 1px;
            border: 1px solid #ffc107;
            left: 0;
            bottom: 90px;
            opacity: .2;
        }

        .FooterMain {
            .HeadingFooter {
                color: $yellowcolor;
                font-size: 20px;
                margin-bottom: 1rem;
                font-weight: 600;
            }

            .FooterText {
                color: $whitecolor;
                font-size: 15px;
                margin-bottom: 1rem;
                width: 65%;
            }

            .svg-inline--fa {
                color: white;
                font-size: 17px;
                margin: 1rem .5rem;

            }
        }

        .RigthFooter {
            .HeadingFooterRight {
                color: $yellowcolor;
                font-size: 20px;
                margin-bottom: 1rem;
                font-weight: 600;
                letter-spacing: 1.2px;
            }

            .CompanyFooter {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 1rem;
                color: $yellowcolor;
                letter-spacing: 1.5px;
            }

            .FooterIcon {
                margin-top: 1rem;
                color: $whitecolor;
                font-size: 15px;

                .svg-inline--fa {
                    color: white;
                    font-size: 18px;
                    margin-right: 1rem;

                }
            }
        }

        .copyLeft {
            padding: 2.5rem 0;

            .CopyrightLeft {
                ul {
                    display: flex;
                    gap: 5%;

                    li {
                        color: $whitecolor;
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }
        }

        .pad0 {
            padding: 0;
        }

        .copyRight {
            padding: 2.5rem 0;

            .CopyrightRight {
                text-align: center;

                span {
                    color: $whitecolor;
                    font-size: 13px;
                    letter-spacing: 1.2px;
                }
            }
        }
    }

    .headerGorseli {
        position: relative;
        background: rgb(25, 25, 25);
        background: linear-gradient(66deg, rgba(25, 25, 25, 1) 51%, rgba(145, 114, 20, 1) 85%, rgba(255, 193, 7, 1) 100%);
        height: 25vh;

        .headerBaslik {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            h1 {
                color: white;
                font-size: $FontsizeH1;
                letter-spacing: 4px;
            }
        }
    }

    .AboutHome {
        .Global {
            &:hover {
                .LeftHeading {

                    &::before {
                        transition: .5s ease-in-out;
                        width: 250px;
                    }
                }
            }


            img {
                margin-bottom: 1rem;
                padding: 0rem 1rem;
            }

            .LeftHeading {
                padding: 1.5rem 0;
                position: relative;
                padding-left: 1rem;
                &::before {
                    content: "";
                    top: 10px;
                    background-color: $yellowcolor;
                    width: 70px;
                    height: 5px;
                    position: absolute;
                    transition: .5s ease-in-out;
                }

                h2 {
                    font-size: $FontsizeH2;
                    color: $whitecolor;

                }

                p {
                    color: $whitecolor;
                    font-size: $FontsizeP;
                    padding-bottom: 0.5rem;

                }
            }
        }
    }

    .FooterTop {
        margin-top: 5rem;

        .pad-0 {
            padding: 0;
        }

        .player-wrapper {
            position: relative;
            padding-top: 20.25%;
        }

        .react-player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            video {
                width: 100%;
                position: relative;
                object-fit: cover;
                height: 100%;
                object-position: top;
            }

        }

        .LayerVideo {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .5;
        }

        .Contact {
            position: absolute;
            top: 0;
            z-index: 9;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .Text {
                color: $whitecolor;
                font-size: $FontsizeH1;
                font-weight: 600;
            }

            .ButtonDiv {
                margin-top: 2rem;
                width: 10%;
                transition: .3s ease-in-out;

                &:hover {
                    .ymButton {
                        background-color: white;
                        color: black;
                        -webkit-box-shadow: -8px 3px 15px -5px rgba(255, 193, 7, 1);
                        -moz-box-shadow: -8px 3px 15px -5px rgba(255, 193, 7, 1);
                        box-shadow: -8px 3px 15px -5px rgba(255, 193, 7, 1);
                        transition: .3s ease-in-out;
                        border-color: white;
                    }
                }

                .ymButton {
                    font-size: 18px;
                    color: #3a3a3a;
                    font-weight: 600;
                    border: 1px solid $yellowcolor;
                    width: 90%;
                    background-color: $yellowcolor;
                    border-radius: 15px;
                    padding: 7px;
                    transition: .3s ease-in-out;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .PageCreative {
        padding-bottom: 4rem;

        .TabsButtonContent {
            display: flex;
            gap: 3%;
            padding: 3rem 0;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 15px;
                background-color: $graycolor;
                width: 100%;
                height: .5px;
            }

            .allTabs-ym {
                color: white;
                font-size: 25px;
                font-weight: 500;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 100%;
                    right: -25px;
                    background-color: $graycolor;
                }
            }

            .selected {
                color: $yellowcolor;
                position: relative;
                font-weight: 600;

                &::after {
                    position: absolute;
                    content: "";
                    width: 3px;
                    height: 100%;
                    right: -25px;
                    background-color: $yellowcolor;
                }
            }
        }

        .my-class {
            font-size: 20px;
            text-align: center;
            color: $whitecolor;
            margin-top: 1rem;
            cursor: pointer;

            h2 {
                margin-top: 1rem;
            }

            .player-wrapper {
                position: relative;
            }

            .play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                display: flex;
                opacity: 1;

                svg {
                    font-size: 50px;
                }
            }

            @keyframes waveAnimation {
                0% {
                    transform: scale(1);
                    opacity: 1;
                }

                100% {
                    transform: scale(1.5);
                    opacity: 0;
                }
            }

            .play-button::after {
                content: '';
                content: "";
                position: absolute;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid rgba(255, 255, 255, 0.5);
                animation: waveAnimation 2s infinite;
            }
        }


    }

    .modal {
        .modal-dialog {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;

            .modal-content {
                .modal-body {}

                .modal-footer {
                    button {
                        color: black;

                        &:hover {
                            background-color: $bgcolorBlack;
                            color: $whitecolor;
                        }
                    }
                }
            }
        }
    }

    .OtherPage {
        .OtherPageSloganArea {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6rem 0;
            position: relative;


            h1 {
                color: $whitecolor;
                position: relative;
                font-size: 50px;
                max-width: 750px;

                &::before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    width: 55%;
                    height: 1px;
                    background-color: $graycolor;
                    opacity: .5;
                    left: 25%;
                }

            }
        }

        .TextArea {
            padding: 3rem 0;

            p {
                color: white;
                font-size: 20px;
                margin: 1.5rem 0;
            }
        }

        .OtherPageSlide {
            .ymOtherPageSlide {
                position: relative;
                height: 600px;

                &::after {
                    content: "";
                    position: absolute;
                    width: 70%;
                    background-color: $yellowcolor;
                    height: 70%;
                    bottom: -50px;
                    z-index: -1;
                    opacity: .8;
                }

                .RentalSlide {
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
        }
    }

    .PageContact {
        padding-bottom: 0 !important;

        .HeadingPage {
            h1 {
                font-weight: 900;
                font-size: 3.8rem;
                line-height: 1em;
                color: $whitecolor;
                z-index: 999 !important;
                text-transform: uppercase;
            }

            span {
                color: $whitecolor;
                font-size: 1.5rem;
                line-height: 4.2rem;
                font-weight: 600;
            }
        }

        .contactContainer {
            max-width: 1350px;

            .FormCapsul {
                background-color: white;
                padding: 3rem 4.5rem;
                box-shadow: 0px 3px 10px #BABAB9, 0px 0px 4px #ffffff;

                .form-check {
                    margin: 2rem 0;

                    label {
                        font-weight: 600;
                        font-size: 14px;
                    }
                }

                .FormAllClass {
                    margin: 2rem 0;
                    gap: 1rem;

                    .form-label {
                        font-weight: 600;
                        font-size: 15px;
                    }

                    .col {
                        padding: 0;
                    }
                }

                .btn {
                    width: 30%;
                    color: black;
                    --bs-btn-border-color: #000000;
                    font-size: 18px;

                    &:hover {
                        background-color: $blackcolor;
                        color: $whitecolor;

                    }
                }

            }

            .bgimage {
                position: relative;
                padding: 0;

                &::after {
                    content: "";
                    background-size: cover !important;
                    background-image: url(https://via.placeholder.com/500x700.png/ebebe1f/000);
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                .ContactRightMainCapsul {
                    z-index: 99;
                    position: relative;
                    padding: 5rem 35px;

                    .Heading {
                        margin: 1rem 0.4rem;

                        h3 {
                            font-weight: 800;
                            font-size: 2.5rem;
                        }

                        span {
                            font-weight: 400;
                            font-size: 1.5rem;
                            color: #c99806;
                            font-weight: 600;
                        }
                    }

                    .Location {
                        .FooterIcon {
                            margin-bottom: 1.5rem;
                            font-size: 15px;
                            font-weight: 500;

                            svg {
                                margin: 0 .5rem;
                            }
                        }
                    }
                }
            }
        }

        .Maps {
            margin-top: 3rem;
        }
    }


    .PageStudioRental {
        .pad-0 {
            padding: 0;
        }
        .Ekipman{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 2rem;
            margin-top: 3rem;
            h2{
                font-size: 35px;
                color: $yellowcolor;
                font-weight: 600;
            }
        }
        .Hizmet{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 3rem;
            margin-top: 3rem;
            h2{
                font-size: 35px;
                color: $yellowcolor;
                font-weight: 600;
            }
        }
        .colAft {
            position: relative;
            margin-top: 5rem;
            height: 350px;
            overflow-y: scroll;


            
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 2px;
                height: 100%;
                background-color: #ffc1072b;
            }

            .HeadingRental {
                padding: 2rem;

                .header {
                    color: $whitecolor;
                    font-weight: 600;
                    font-size: 30px;
                    margin-bottom: 2rem;
                    border-bottom: 1px solid #7a7a7a;
                    text-align: center;
                    padding-bottom: 1rem;
                }

                ul {
                    list-style: circle;
                    padding-left: 20px;

                    li {
                        font-size: 15px;
                        color: white;
                        margin: 1rem 0;

                    }
                }
            }
        }
/* Kaydırma çubuğu */
.colAft::-webkit-scrollbar {
    width: 5px; /* Kaydırma çubuğunun genişliği */
  }
  
  /* Kaydırma çubuğu izi */
  .colAft::-webkit-scrollbar-thumb {
    background-color: $yellowcolor; /* Kaydırma çubuğu rengi */
    border-radius: 4px; /* Kaydırma çubuğu köşe yarıçapı */
  }
  
  /* Kaydırma çubuğu arka planı */
  .colAft::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Kaydırma çubuğu arka plan rengi */
  }
        .marEsta {
            margin-top: 5rem;

            .MainBox {
                border: 1px solid rgba(255, 193, 7, 0.7098039216);
                transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                padding: 50px 20px 15px 20px;
                border-radius: 2px 2px 2px 2px;
                position: relative;
                width: 100%;
                transition: 0.3s ease-in;
                height: 19rem;

                .text {
                    h4 {
                        font-size: 22px;
                        color: $whitecolor;
                        font-weight: 600;
                        margin-bottom: 1rem;
                    }

                    p {
                        color: white;
                        font-size: 15px;
                        line-height: 2;
                    }
                }

                .Imgmy {
                    position: absolute;
                    top: -45px;
                    background-color: #191919;
                }
            }
        }

        .VideoAndFormArea {
            margin-top: 5rem;
            position: relative;

            .RentalPageVideoSlide {
                width: 100%;
                position: static;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding-bottom: 2rem;
                .swiper-wrapper {
                    .swiper-slide {
                        width: 100%;
                        height: 100%;
                    }
                }

                .swiper-button-prev {
                    right: 120px;
                    left: auto;
                    top: 8%;
                    transition: all 0.4s ease-out;
                    border-radius: 100%;
                    cursor: pointer;
                    z-index: 10;
                    left: 5%;
                    bottom: -35px;
                    top: auto;
                    width: 40px;
                    height: 40px;
                    background-color: white;
                    font-weight: bolder;
                    position: relative;

                    &::after {
                        font-size: 20px;
                        font-weight: bolder;
                    }
                }

                .swiper-button-next {
                    right: 120px;
                    left: auto;
                    top: 8%;
                    transition: all 0.4s ease-out;
                    border-radius: 100%;
                    cursor: pointer;
                    z-index: 10;
                    left: -5%;
                    bottom: -16px;
                    top: auto;
                    width: 40px;
                    height: 40px;
                    background-color: #ffc107;
                    font-weight: bolder;
                    position: relative;

                    &::after {
                        color: white;
                        font-size: 20px;
                        font-weight: bolder;
                    }
                }
            }

            #accordion {
                margin-top: 2rem;

                .FAQtitle {
                    margin: 1.5rem 0;

                    .smalltitle {
                        font-size: 16px;
                        color: $yellowcolor;
                        font-weight: bolder;
                        margin: .5rem 0;
                        letter-spacing: 1.2px;
                    }

                    h2 {
                        font-size: 35px;
                        color: $whitecolor;
                        font-weight: bolder;
                        margin: .5rem 0;
                    }
                }

                .card-header {
                    h5 {
                        button {
                            text-decoration: none;
                            padding: 0;
                            width: 100%;
                            text-align: start;
                            position: relative;


                            // &::after {
                            //     content: "";
                            //     position: absolute;
                            //     right: 0;
                            //     top: 0;
                            //     font-size: 30px;
                            //     color: #eca300;
                            //     background-color: black;
                            //     width: 60px;
                            //     height: 40px;
                            //     display: flex;
                            //     justify-content: center;
                            //     align-items: center;
                            //     border-radius: 5px;
                            // }
                        }
                    }
                }
                .card{
                    margin-top: 1rem;
                    .card-header{
                        padding: 1rem;
                        h5{
                            button{
                                color: black;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }

        .ymFormArea {
            background-color: white;
            padding: 2rem 3.5rem;
            box-shadow: 0px 3px 10px #BABAB9, 0px 0px 4px #ffffff;

            .HeaderArea {
                margin: 2.5rem 0;

                .FormTitle {
                    font-size: 35px;
                    color: black;
                    font-weight: bolder;
                    margin: 0.5rem 0;
                }

                .smalltitle {
                    font-size: 16px;
                    color: #ffc107;
                    font-weight: bolder;
                    margin: 0.5rem 0;
                    letter-spacing: 1.2px;
                }
            }

            .formrow {
                margin-bottom: 2rem;
                .form-label{
                    font-size: 14px;
                    font-weight: 600;
                }
                .switchDiv{
                    margin-top: 1.5rem;
                }
                input{
                    padding: 0.5rem;
                }
            }
            
            button {
                border: 1px solid #191919;
                width: 30%;
                background-color: #191919;
                color: $yellowcolor;
                margin-top: 2rem;
                font-weight: bold;
                font-size: 16;
                border-radius: 10px;
                &:hover {
                    background-color: transparent;
                    border-color: #191919;
                    color: #191919;
                    
                }
            }
        }
    }


    .lightbox-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .lightbox-image {
        max-width: 100%;
        max-height: calc(100% - 100px);
        border-radius: 5px;
    }

    .btn-link.active {
        font-weight: bold;
        font-size: 18px;
      }
      
      .collapse {
        transition: height 0.3s ease;
      }
      
      .show.collapsing {
        visibility: visible;
      }
      
      .show.collapse {
        height: auto;
      }


      // Switch css
      .switchDiv {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .switchDiv .form-check-label {
        margin-left: 10px;
        position: relative;
        margin-left: 0;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 13px;
        width: 215px;
        justify-content: center;
        font-weight: 500;
        height: 26px;
        cursor: pointer;
      }
      
      .switchDiv .form-check-input {
        display: none;
      }
      
      .switchDiv .form-check-label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 30px;
        background-color: #191919;
        border-radius: 30px;
        transition: background-color 0.3s;
      }
      
      .switchDiv .form-check-label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 26px;
        height: 26px;
        background-color: $graycolor;
        border-radius: 50%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
      }
      
      .switchDiv .form-check-input:checked+.form-check-label:before {
        background-color: #191919; /* Değiştirebilirsiniz */
      }
      
      .switchDiv .form-check-input:checked+.form-check-label:after {
        transform: translateX(30px);
        background-color: $yellowcolor !important;
      }
      
      
    //   .switchDiv .form-check-input:focus+.form-check-label:before {
    //     box-shadow: 0px 0px 3px $yellowcolor; /* Değiştirebilirsiniz */
    //   }
      
    //   .switchDiv .form-check-input:focus+.form-check-label:after {
    //     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2), 0px 0px 3px $graycolor; /* Değiştirebilirsiniz */
    //   }
      .form-switch{
        padding-left: 0;
      }      
      
}